@model List<LeetSpeakTranslation>
@{
    ViewData["Title"] = "Index";
}


<div class="card mt-5">
    <div class="card-header">
        <h2>Translated Texts</h2>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="translationTable" class="display table">
                <thead>
                    <tr>
                        <th>Text</th>
                        <th>Translated</th>
                        <th>Save Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Text</td>
                            <td>@item.Translated</td>
                            <td>@item.CreatedAt</td>
                        </tr>

                    }

                </tbody>
            </table>
        </div><div class="table-responsive">

        </div>
    </div>

</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#translationTable').DataTable();
        });
    </script>
}