@model TranslateStatusViewModel

@if (Model.Success)
{

    <textarea class="form-control height-14" placeholder="...">@Model.Translated</textarea>

}
else
{
    foreach (var item in Model.Messages)
    {
        <div class="alert alert-danger" role="alert">
            @item
        </div>
    }

}