
@{
    ViewData["Title"] = "TranslateText";
}
<style>


    .height-14 {
        height: 14rem !important;
    }
</style>
<div class="py-5">
    <h4 class="mb-3 text-center">Translate Englist To l33tsp34k</h4>

    <div class="card bg-light">
      
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="">
                        <textarea id="text" class="form-control height-14" placeholder="Enter the text to be translated"></textarea>
                    </div>
                    <div class="float-center my-3 mb-md-0">
                        <button id="btnClear" class="btn btn-dark px-5"> Clear </button>
                        <button id="btnTranslate" class="btn btn-success px-5"> Translate </button>
                    </div>
                </div>
                <div class="col-md-6">

                    <div id="translationResultParentDiv">
                        @*_TranslateTextPartial comes here via ajax*@
                        <textarea class="form-control height-14" placeholder="..."></textarea>
                    </div>

                </div>
            </div>
          
        </div>
      
    </div>



</div>




<script>
    $("#btnClear").click(function () {
        $("#text").val("");
    })

    $("#btnTranslate").click(function () {
        let text = $("#text").val();
        translateText(text);
    })

    function translateText(text) {
        if (text === "") {
            $("#text").removeClass("border-danger").addClass("border-danger");
        }
        else {

            $("#text").removeClass("border-danger");
            $.ajax({
                url: "/LeetSpeakTranslation/_TranslateTextPartial",
                type: "POST",
                data: { text },
                dataType: "html",
                success: function (response) {
                    $("#translationResultParentDiv").html(response);
                },
                error: function (error) {
                    alert(error.status);
                }
            });
        }

    }
</script>